body {
    background-color: powderblue;
}

h1 {
    color: #66BFBF;
}

h3 {
    color: #66BFBF;
}

hr {
    border-style: none;
    border-top-style: dashed;
    border-color: white;
    border-width: 5px;
    width: 50%;
}

img {
    height: 200px;
}